body{
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    color: #000000;
    background:#252932;
    text-align: center;
    /* margin: 8px; */
}


/*==================      1Ã‚Â° Fila      =======================*/

header{
    background-image: url("../imagenes/graduado2.png");
    background-repeat: repeat;
    width: 100%;
    /* max-height: 137px; */
    overflow:hidden;
    /* margin-bottom: 20px; */
    /* text-align: center; */
}
div .logo{
    text-align: left;
}

/*=================         2Ã‚Â° Fila      =======================*/

div .imagenText{
    width: 100%;
    /* max-width: 1000px; */
    max-height: 440px;
    text-align: center;
    overflow:hidden;
    background: #45464B;
    background-position-x: center;
    /* margin-bottom: 10px; */
}

/*=================         3Ã‚Â° Fila      =======================*/

 #texto{
    background-image: url("../imagenes/graduado2.png");
    background-repeat: repeat;
    color: white;
    width: initial;
    /* text-align: left; */
    padding: initial;
}
#texto p{
    text-align: inherit;
    font-size: 16px;
}


/*===================        4Ã‚Â° Fila        =========================*/

#featured h3{
    margin-bottom: 1em;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: #1A7FBA;
}
#featured h4{
    /* margin-bottom: 1em; */
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: #1A7FBA;
}
#featured p{
    text-align: -webkit-left;
    font-size: 14px;
    /* padding-right: 0px; */
}

.cuadro1,
.cuadro2,
.cuadro3{
    color: white;
    text-align: left;
    background-image: url("../imagenes/graduado-titulo1.png");
    background-repeat: repeat;
    width: 100%;
    font-size: 20px;
    padding: 15px 15px;
}

.cuadro1-1,
.cuadro2-1,
.cuadro3-1{
    background-image: url("../imagenes/graduado2.png");
    background-repeat: repeat;
    color: white;
    width: 100%;
    text-align: left;
    font-size: 14px;
    padding: 8px 40px 22px 15px;
}
.cuadro1-1{
    /* margin-left: 84px; */
    /* padding-top: 3px; */
}
.cuadro2-1{
    /* margin-left: 84px; */
    /* padding-top: 3px; */
    padding-bottom: 62px;
}
.cuadro3-1{
    /* margin-left: 84px; */
    /* padding-bottom: 0px; */
}


/*=====================       5Ã‚Â° Fila       =======================*/

footer {
    background-image: url("../imagenes/graduado2.png");
    background-repeat: repeat;
    color: white;
    /* text-align: center; */
    /* padding: 20px; */
    /* margin-top: 40px; */
}
div .navlink{
    text-align: right;
}


/*=====================       Contact       =======================*/

div .inputText{
    width: 30%;
}
div .checkboxText{
    text-align: left;
}
div .buttonText{
    text-align: left;
}
div .labelText{
    color: white;
    float: left;
}
div .textArea{
    /* width: 70%; */
    height: 150px;
}

/*=====================       Validaciones       =======================*/

label{
    float:left;
    font-family:Arial,Helvetica,sans-serif;
    color: red;
    font-size:small;
}
label.error{
    background:url('../imagenes/unchecked.gif') no-repeat;
    padding-left:16px;
    margin-left:.3em;
}
label.valid{
    background:url('../imagenes/checked.gif') no-repeat;
    display:block;
    width:16px;
    height:16px;
}
input{
    border:1px solid green;
    margin-bottom:.5em;
}
input.error{
    border:1px solid red;
}
input.valid{
    border: 3px solid green;
}

@media (min-width: 1349px)
.imagenText { 
    width: 1110px;    
}