body{
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    color: #000000;
    background:#252932;
    text-align: center;
    /* margin: 8px; */
}


/*==================      1Â° Fila      =======================*/

header{
    background-image: url("../imagenes/graduado2.png");
    background-repeat: repeat;
    width: 100%;
    max-height: 88px;
    overflow:hidden;
    /* margin-bottom: 20px; */
    text-align: center;
}
#wrapper1{
    /* background-color: #FFF; */
    /* border: 1px solid #DDD; */
    /* border-radius: 20px; */
    /* box-shadow: 7px 7px 5px #CCC; */
    margin: 5px auto 0px auto;
    /* padding: 0px 15px 0px 15px; */
    /* position: relative; */
    /* width: 885px; */
}
wrapper{
    width:90%;
    max-width:100px;
    margin:auto;
    text-align: center;
    overflow:hidden;
}
header .logo {
	color:#264FB0;
	/* background: #2C2F37; */
	font-size: 100px;
	line-height: 90px;
	float:left;
	/* text-align: center; */
}
 
header nav {
	float:right;
	text-align: center;
	line-height: 90px;
}
header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
header nav a:hover {
	background:#f56f3a;
	border-radius:50px;
}


/*=================         2Â° Fila      =======================*/

body .conteiner{
    width: 100%;
    /* max-width: 1000px; */
    max-height: 440px;
    text-align: center;
    overflow:hidden;
    background: #45464B;
    /* margin-bottom: 10px; */
}


/*=================         3Â° Fila      =======================*/


body .conteiner1{
    background-image: url("../imagenes/graduado2.png");
    background-repeat: repeat;
    width: 100%;
    /* max-width: 1000px; */
    color: white;
    max-height: 440px;
    text-align: center;
    overflow:hidden;
    /* margin-bottom: 10px; */
}
/*body .conteiner1 p{
    text-align: left;
}*/


body a{
    text-align: left;
}


/*===================        4Â° Fila        =========================*/

body .conteiner2{
    overflow: hidden;
    margin: 0em auto;
    /* width: 1200px; */
    background: #2B2929;
    /* margin-bottom: 10px; */
}

#featured{
    padding: 1em 0em 2em 0em;
}
#featured h3{
    margin-bottom: 1em;
    text-align: left;
    font-size: 1.1em;
    font-weight: 600;
    color: #1A7FBA;
}
#featured h4{
    margin-bottom: 1em;
    text-align: left;
    font-size: 1.0em;
    font-weight: 600;
    color: #1A7FBA;
}
#featured p{
    text-align: justify;
    font-size: 14px;
}
#featured .button{
    margin-top: 1em;
}
.button{
    display: inline-block;
    padding: 1em 2em 1em 2em;
    background: #1A7FBA;
    border-radius: 5px;
    letter-spacing: 0.20em;
    text-decoration: none;
    /* text-align: left; */
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.90em;
    color: #FFF;
}
.button:before
	{
	}

.cuadro{
    padding-left: 120px;
    /* padding-right: 5px; */
}

.cuadro1,
.cuadro2,
.cuadro3{
    color: white;
    text-align: left;
    background-image: url("../imagenes/graduado-titulo1.png");
    background-repeat: repeat;
    width: 280px;
    padding: 15px 40px;
}
.cuadro1,
.cuadro2{
    float: left;
    /* margin-left: 100px; */
    margin-right: 24px;
    /* margin-left: 5px; */
}
.cuadro1{
    margin-left: 90px;
    /* padding: 15px 40px; */
}
.cuadro2{
    /* margin-right: 24px; */
}
.cuadro3{
    width: 304px;
    float: right;
    margin-right: 105px;
}
.cuadro1-1,
.cuadro2-1,
.cuadro3-1{
    background-image: url("../imagenes/graduado2.png");
    background-repeat: repeat;
    color: white;
    width: 280px;
    padding: 25px 40px;
}
.cuadro1-1,
.cuadro2-1{
    float: left;
    /* margin-left: 100px; */
    margin-right: 24px;
    /* margin-left: 5px; */
}
.cuadro1-1{
    margin-left: 90px;
    padding-top: 3px;
}
.cuadro2-1{
    /* margin-right: 24px; */
    padding-top: 22px;
}
.cuadro3-1{
    width: 304px;
    float: right;
    margin-right: 105px;
    padding-top: 3px;
}



/*=====================       5Â° Fila       =======================*/

footer {
    background-image: url("../imagenes/graduado2.png");
    background-repeat: repeat;
    color: white;
    /* text-align: center; */
    padding: 20px;
    /* margin-top: 40px; */
}
    footer p {
        margin: 0;
        text-align: left;
    }
    
    footer a {
        color: white;
        text-align: center;
    }
